.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
gitpush.sh
pkg/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
temp/
data/
lsq
config/config.yaml
res/git-repo-url.lsq
res/.ssh