ci:
  git:
    from: "https://github.com/your-name"
    to:
      - "https://gitee.com/your-name"
      - "https://xxxxlab.com/your-name"

gfcli:
  build:
    name:      "lsq-cli"
    arch:      "amd64"
    system:    "linux"
    mod:       "none"
    cgo:       0
    path: "./bin"